<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thhymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면(dynamic)</title>
</head>
<body>
  <h3>Hello World!(dynamic)</h3>
  <th:block th:if="${session.loginMember}">
    <p th:text="${session.loginMember.nickname}"></p>
    <ul>
      <!--   /products?reqPage=1&reqCnt=10   -->
      <li><a href="/products">상품 관리-SSR</a></li>
      <li><a href="/api/view/products">상품 관리-CSR</a></li>
      <li><a href="/pubdata/news">뉴스 검색</a></li>
      <li><a href="/pubdata/stocks">주가시세조회</a></li>
      <li><a href="#" id="logout">로그아웃</a></li>
    </ul>
  </th:block>
  <th:block th:unless="${session.loginMember}">
    <ul>
      <li><a href="/pubdata/news">뉴스 검색</a></li>
      <li><a href="/members/join">회원 가입</a></li>
      <li><a href="/login">로그인</a></li>
    </ul>
  </th:block>
  <script>
    const $logout = document.getElementById('logout');
    $logout?.addEventListener('click', evt => {
      evt.preventDefault();   // 기본 이벤트 제거
        fetch('/logout', {method:'POST', body:null})
            .then(res => res.text())
            .then(res => {
                if(res === 'OK'){
                    console.log('click');
                    location.href = '/';
                }
            })
            .catch(console.log);
    });
  </script>
</body>
</html>